:root {
  --primary-color: #4d4d4d;
  --header-color: #dda75c;
  --link-color: #c4b39c;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #faeee0;
}

h1 {
  color: var(--header-color);
  margin: 30px;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
}

p {
  color: var(--primary-color);
}

@media (min-width: 600px) {
  .p-width {
    padding: 40px 300px;
  }
}
